*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   background: #3cc0aa;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    font-weight: bold;
    color: rgb(0, 0, 0);
    padding: 15px;
}

p{
    margin: 3px;
    
    opacity: 100%;
}

button{
    background: rgb(172, 242, 247);
    padding: 15px;
    color:black;
    border-radius: 7px;
    
}

button:hover{
    border: 2px solid rgb(231, 130, 130);
transform: scale(1.05);
}

#resultado{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: minmax(200px );
    
}